<div class="btn-group dropdown-cart">
    <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
        <span class="cart-menu-icon"></span>
        {{ cart.count }} item(s) <span class="drop-price">- {{ cart.cost }}</span>
    </button>

    <div class="dropdown-menu dropdown-cart-menu pull-right clearfix" role="menu">
        <p class="dropdown-cart-description">Recently added item(s).</p>
        <ul class="dropdown-cart-product-list">
            <li class="item clearfix">
                <a href="#" title="Delete item" class="delete-item"><i class="fa fa-times"></i></a>
                <a href="#" title="Edit item" class="edit-item"><i class="fa fa-pencil"></i></a>
                <figure>
                    <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item12.jpg') }}" alt="phone 4"></a>
                </figure>
                <div class="dropdown-cart-details">
                    <p class="item-name">
                        <a href="product.html">Cam Optia AF Webcam </a>
                    </p>
                    <p>
                        1x
                        <span class="item-price">$499</span>
                    </p>
                </div><!-- End .dropdown-cart-details -->
            </li>
            <li class="item clearfix">
                <a href="#" title="Delete item" class="delete-item"><i class="fa fa-times"></i></a>
                <a href="#" title="Edit item" class="edit-item"><i class="fa fa-pencil"></i></a>
                <figure>
                    <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item13.jpg') }}" alt="phone 2"></a>
                </figure>
                <div class="dropdown-cart-details">
                    <p class="item-name">
                        <a href="product.html">Iphone Case Cover Original</a>
                    </p>
                    <p>
                        1x
                        <span class="item-price">$499<span class="sub-price">.99</span></span>
                    </p>
                </div><!-- End .dropdown-cart-details -->
            </li>
        </ul>

        <ul class="dropdown-cart-total">
            <li><span class="dropdown-cart-total-title">Shipping:</span>$7</li>
            <li><span class="dropdown-cart-total-title">Всего:</span> {{ cart.cost }}</li>
        </ul><!-- .dropdown-cart-total -->
        <div class="dropdown-cart-action">
            <p><a href="cart.html" class="btn btn-custom-2 btn-block">Cart</a></p>
            <p><a href="checkout.html" class="btn btn-custom btn-block">Checkout</a></p>
        </div><!-- End .dropdown-cart-action -->

    </div><!-- End .dropdown-cart -->
</div><!-- End .btn-group -->
