<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Venedor - Responsive eCommerce Template</title>
    <meta name="description" content="Responsive modern ecommerce Html5 Template">
    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic%7CPT+Gudea:400,700,400italic%7CPT+Oswald:400,700,300' rel='stylesheet' id="googlefont">

    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/prettyPhoto.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/select2/dist/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">

    <!-- Favicon and Apple Icons -->
    <link rel="icon" type="image/png" href="{{ asset('assets/images/icons/icon.png') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/images/icons/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/images/icons/apple-icon-72x72.png') }}">

    <!--- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('assets/js/jquery-1.11.1.min.js') }}"><\/script>')</script>

    <!--[if lt IE 9]>
    <script src="{{ asset('assets/js/html5shiv.js') }}"></script>
    <script src="{{ asset('assets/js/respond.min.js') }}"></script>
    <![endif]-->

    <style id="custom-style">

    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div id="wrapper">
        <header id="header" class="header6">
            <div id="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header-top-left">
                                <ul id="top-links" class="clearfix">
                                    <li><a href="#" title="My Wishlist"><span class="top-icon top-icon-pencil"></span><span class="hide-for-xs">My Wishlist</span></a></li>
                                    <li><a href="#" title="My Account"><span class="top-icon top-icon-user"></span><span class="hide-for-xs">My Account</span></a></li>
                                    <li><a href="cart.html" title="My Cart"><span class="top-icon top-icon-cart"></span><span class="hide-for-xs">My Cart</span></a></li>
                                    <li><a href="checkout.html" title="Checkout"><span class="top-icon top-icon-check"></span><span class="hide-for-xs">Checkout</span></a></li>
                                </ul>
                            </div><!-- End .header-top-left -->
                            <div class="header-top-right">

                                <div class="header-top-dropdowns pull-right">
                                    <div class="btn-group dropdown-money">
                                        <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
                                            <span class="hide-for-xs">US Dollar</span><span class="hide-for-lg">$</span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="#"><span class="hide-for-xs">Euro</span><span class="hide-for-lg">&euro;</span></a></li>
                                            <li><a href="#"><span class="hide-for-xs">Pound</span><span class="hide-for-lg">&pound;</span></a></li>
                                        </ul>
                                    </div><!-- End .btn-group -->
                                    <div class="btn-group dropdown-language">
                                        <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
                                            <span class="flag-container"><img src="{{ asset('assets/images/england-flag.png') }}" alt="flag of england"></span>
                                            <span class="hide-for-xs">English</span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="#"><span class="flag-container"><img src="{{ asset('assets/images/italy-flag.png') }}" alt="flag of england"></span><span class="hide-for-xs">Italian</span></a></li>
                                            <li><a href="#"><span class="flag-container"><img src="{{ asset('assets/images/spain-flag.png') }}" alt="flag of italy"></span><span class="hide-for-xs">Spanish</span></a></li>
                                            <li><a href="#"><span class="flag-container"><img src="{{ asset('assets/images/france-flag.png') }}" alt="flag of france"></span><span class="hide-for-xs">French</span></a></li>
                                            <li><a href="#"><span class="sm-separator"><img src="{{ asset('assets/images/germany-flag.png') }}" alt="flag of germany"></span><span class="hide-for-xs">German</span></a></li>
                                        </ul>
                                    </div><!-- End .btn-group -->
                                </div><!-- End .header-top-dropdowns -->

                                <div class="header-text-container pull-right">
                                    <p class="header-text">Welcome to Venedor!</p>

                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        Добро пожаловать, {{ app.user.username }}

                                        <a href="{{ path('fos_user_security_logout') }}">
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    {% else %}
                                        <p class="header-link"><a href="{{ path('fos_user_security_login') }}">вход</a>&nbsp;или&nbsp;<a href="{{ path('fos_user_registration_register') }}">регистрация</a></p>
                                    {% endif %}
                                </div><!-- End .pull-right -->
                            </div><!-- End .header-top-right -->
                        </div><!-- End .col-md-12 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End #header-top -->

            <div id="inner-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 logo-container">
                            <h1 class="logo clearfix">
                                <span>Responsive eCommerce Template</span>
                                <a href="index.html" title="Venedor eCommerce Template"><img src="{{ asset('assets/images/logo6.png') }}" alt="Venedor Commerce Template" width="200" height="54"></a>
                            </h1>
                        </div><!-- End .col-md-3 -->
                        <div class="col-md-9 col-sm-9 col-xs-12 header-inner-right">
                            <div class="header-inner-right-wrapper clearfix">

                                <div class="dropdown-cart-menu-container pull-right" id="dropdown_cart">
                                    {{ render(controller('AppBundle:Cart:dropdown')) }}
                                </div>

                                <div id="quick-access">
                                    <form class="form-inline quick-search-form" role="form" action="#">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search here">
                                        </div><!-- End .form-inline -->
                                        <button type="submit" id="quick-search" class="btn btn-custom"></button>
                                    </form>
                                </div><!-- End #quick-access -->

                                <div class="header-box contact-infos pull-right">
                                    <ul>
                                        <li><span class="header-box-icon header-box-icon-skype"></span>venedor_support</li>
                                        <li><span class="header-box-icon header-box-icon-email"></span><a href="mailto:venedor@gmail.com">venedor@gmail.com</a></li>
                                    </ul>
                                </div><!-- End .contact-infos -->

                                <div class="header-box contact-phones pull-right clearfix">
                                    <span class="header-box-icon header-box-icon-earphones"></span>
                                    <ul class="pull-left">
                                        <li>+(404) 158 14 25 78</li>
                                        <li>+(404) 851 21 48 15</li>
                                    </ul>
                                </div><!-- End .contact-phones -->

                            </div><!-- End .header-inner-right-wrapper -->
                        </div><!-- End .col-md-7 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->

                <div id="main-nav-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 clearfix">

                                <nav id="main-nav">
                                    <div id="responsive-nav">
                                        <div id="responsive-nav-button">
                                            Menu <span id="responsive-nav-button-icon"></span>
                                        </div><!-- responsive-nav-button -->
                                    </div>
                                    <div class="menu-table">
                                        <ul class="menu clearfix">
                                            <li>
                                                <a class="active" href="index.html">HOME</a>
                                                <ul>
                                                    <li><a href="../green/index.html">Home 1</a></li>
                                                    <li><a href="../blue/index.html">Home 2</a></li>
                                                    <li><a href="../orange/index.html">Home 3</a></li>
                                                    <li><a href="../pink/index.html">Home 4</a></li>
                                                    <li><a href="../brown/index.html">Home 5</a></li>
                                                    <li><a href="../green2/index.html">Home 6</a></li>
                                                    <li><a href="../blueorange/index.html">Home 7</a></li>
                                                    <li><a href="../blueorange2/index.html">Home 8</a></li>
                                                    <li><a href="../browngreen/index.html">Home 9</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-container"><a href="#">SHOP</a>
                                                <div class="mega-menu clearfix">
                                                    <div class="col-5">
                                                        <a href="category.html" class="mega-menu-title">Clothing</a><!-- End .mega-menu-title -->
                                                        <ul class="mega-menu-list clearfix">
                                                            <li><a href="#">Dresses</a></li>
                                                            <li><a href="#">Jeans &amp; Trousers</a></li>
                                                            <li><a href="#">Blouses &amp; Shirts</a></li>
                                                            <li><a href="#">Tops &amp; T-Shirts</a></li>
                                                            <li><a href="#">Jackets &amp; Coats</a></li>
                                                            <li><a href="#">Skirts</a></li>
                                                        </ul>
                                                    </div><!-- End .col-5 -->
                                                    <div class="col-5">
                                                        <a href="category.html" class="mega-menu-title">Shoes</a><!-- End .mega-menu-title -->
                                                        <ul class="mega-menu-list clearfix">
                                                            <li><a href="#">Formal Shoes</a></li>
                                                            <li><a href="#">Casual Shoes</a></li>
                                                            <li><a href="#">Sandals</a></li>
                                                            <li><a href="#">Boots</a></li>
                                                            <li><a href="#">Wide Fit</a></li>
                                                            <li><a href="#">Slippers</a></li>
                                                        </ul>
                                                    </div><!-- End .col-5 -->
                                                    <div class="col-5">
                                                        <a href="category.html" class="mega-menu-title">Accessories</a><!-- End .mega-menu-title -->
                                                        <ul class="mega-menu-list clearfix">
                                                            <li><a href="#">Bags &amp; Purses</a></li>
                                                            <li><a href="#">Belts</a></li>
                                                            <li><a href="#">Gloves</a></li>
                                                            <li><a href="#">Jewellery</a></li>
                                                            <li><a href="#">Sunglasses</a></li>
                                                            <li><a href="#">Hair Accessories</a></li>
                                                        </ul>
                                                    </div><!-- End .col-5 -->
                                                    <div class="col-5">
                                                        <a href="category.html" class="mega-menu-title">Sports</a><!-- End .mega-menu-title -->
                                                        <ul class="mega-menu-list clearfix">
                                                            <li><a href="#">Sport Tops &amp; Vests</a></li>
                                                            <li><a href="#">Swimwear</a></li>
                                                            <li><a href="#">Footwear</a></li>
                                                            <li><a href="#">Sports Underwear</a></li>
                                                            <li><a href="#">Bags</a></li>
                                                        </ul>
                                                    </div><!-- End .col-5 -->

                                                    <div class="col-5">
                                                        <a href="category.html" class="mega-menu-title">Maternity</a><!-- End .mega-menu-title -->
                                                        <ul class="mega-menu-list clearfix">
                                                            <li><a href="#">Tops &amp; Skirts</a></li>
                                                            <li><a href="#">Dresses</a></li>
                                                            <li><a href="#">Trousers &amp; Shorts</a></li>
                                                            <li><a href="#">Knitwear</a></li>
                                                            <li><a href="#">Jackets &amp; Coats</a></li>
                                                        </ul>
                                                    </div><!-- End .col-5 -->
                                                </div><!-- End .mega-menu -->
                                            </li>

                                            <li>
                                                <a href="#">PAGES</a>
                                                <ul>
                                                    <li><a href="#">Headers</a>
                                                        <ul>
                                                            <li><a href="header1.html">Header Version 1</a></li>
                                                            <li><a href="header2.html">Header Version 2</a></li>
                                                            <li><a href="header3.html">Header Version 3</a></li>
                                                            <li><a href="header4.html">Header Version 4</a></li>
                                                            <li><a href="header5.html">Header Version 5</a></li>
                                                            <li><a href="header6.html">Header Version 6</a></li>
                                                            <li><a href="header7.html">Header Version 7</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Footers</a>
                                                        <ul>
                                                            <li><a href="footer1.html">Footer Version 1</a></li>
                                                            <li><a href="footer2.html">Footer Version 2</a></li>
                                                            <li><a href="footer3.html">Footer Version 3</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="product.html">Product</a></li>
                                                    <li><a href="cart.html">Cart</a></li>
                                                    <li><a href="category.html">Category</a>
                                                        <ul>
                                                            <li><a href="category-list.html">Category list</a></li>
                                                            <li><a href="category.html">Category Banner 1</a></li>
                                                            <li><a href="category-banner-2.html">Category Banner 2</a></li>
                                                            <li><a href="category-banner-3.html">Category Banner 3</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="blog.html">Blog</a>
                                                        <ul>
                                                            <li><a href="blog.html">Right Sidebar</a></li>
                                                            <li><a href="blog-sidebar-left.html">Left Sidebar</a></li>
                                                            <li><a href="blog-sidebar-both.html">Both Sidebar</a></li>
                                                            <li><a href="single.html">Blog Post</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                    <li><a href="aboutus.html">About Us</a></li>
                                                    <li><a href="register-account.html">Register Account</a></li>
                                                    <li><a href="compare-products.html">Compare Products</a></li>
                                                    <li><a href="login.html">Login</a></li>
                                                    <li><a href="404.html">404 Page</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Portfolio</a>
                                                <ul>
                                                    <li><a href="#">Classic</a>
                                                        <ul>
                                                            <li><a href="portfolio-2.html">Two Columns</a></li>
                                                            <li><a href="portfolio-3.html">Three Columns</a></li>
                                                            <li><a href="portfolio-4.html">Four Columns</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Masonry</a>
                                                        <ul>
                                                            <li><a href="portfolio-masonry-2.html">Two Columns</a></li>
                                                            <li><a href="portfolio-masonry-3.html">Three Columns</a></li>
                                                            <li><a href="portfolio-masonry-4.html">Four Columns</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Portfolio Posts</a>
                                                        <ul>
                                                            <li><a href="single-portfolio.html">Image Post</a></li>
                                                            <li><a href="single-portfolio-gallery.html">Gallery Post</a></li>
                                                            <li><a href="single-portfolio-video.html">Video Post</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Elements</a>
                                                <ul>
                                                    <li><a href="elements/tabs.html">Tabs</a></li>
                                                    <li><a href="elements/titles.html">Titles</a></li>
                                                    <li><a href="elements/typography.html">Typography</a></li>
                                                    <li><a href="elements/collapses.html">collapses</a></li>
                                                    <li><a href="elements/animations.html">animations</a></li>
                                                    <li><a href="elements/grids.html">Grid System</a></li>
                                                    <li><a href="elements/alerts.html">Alert Boxes</a></li>
                                                    <li><a href="elements/buttons.html">Buttons</a></li>
                                                    <li><a href="elements/medias.html">Media</a></li>
                                                    <li><a href="elements/forms.html">Forms</a></li>
                                                    <li><a href="elements/icons.html">Icons</a></li>
                                                    <li><a href="elements/lists.html">Lists</a></li>
                                                    <li><a href="elements/more.html">More</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Contact Us</a></li>
                                            <li><a href="#">My Account</a></li>
                                            <li><a href="#">News</a></li>
                                            <li><a href="http://themeforest.net/item/venedor-premium-bootstrap-ecommerce-html5-template/7426521?ref=SW-THEMES" target="_blank">Buy Venedor</a></li>
                                        </ul>
                                    </div>

                                </nav>

                            </div><!-- End .col-md-12 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->

                </div><!-- End #nav -->
            </div><!-- End #inner-header -->
        </header><!-- End #header -->

        <section id="content">
            {% block body %}{% endblock %}
        </section><!-- End #content -->

        <footer id="footer">
            <div id="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 widget">
                            <div class="title-bg">
                                <h3>Popular</h3>
                            </div><!-- End .title-bg -->

                            <div class="footer-popular-slider flexslider footerslider">
                                <ul class="slides">
                                    <li>
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item1.jpg') }}" alt="item1"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Jacket Suiting Blazer</a>
                                            </p>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="80"></div>
                                                </div><!-- End .ratings -->
                                            </div>
                                            <div class="item-price-special">$40</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item2.jpg') }}" alt="item2"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Gap Graphic Cuffed</a>
                                            </p>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="100"></div>
                                                </div><!-- End .ratings -->
                                            </div>
                                            <div class="item-price-special">$18.5</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item3.jpg') }}" alt="item3"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Women's Lauren Dress</a>
                                            </p>
                                            <div class="item-price-special">$30</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                    </li>
                                    <li>
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item4.jpg') }}" alt="item4"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Jacket Lauren Blazer</a>
                                            </p>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="80"></div>
                                                </div><!-- End .ratings -->
                                            </div>
                                            <div class="item-price-special">$40</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item5.jpg') }}" alt="item5"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Jacket Suiting Blazer</a>
                                            </p>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="100"></div>
                                                </div><!-- End .ratings -->
                                            </div>
                                            <div class="item-price-special">$18.5</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item6.jpg') }}" alt="item6"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Women's Spahyr Dress</a>
                                            </p>
                                            <div class="item-price-special">$30</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                    </li>
                                </ul>
                            </div><!-- End Footerpouplar-slider -->
                            <div class="md-margin visible-xs"></div><!-- space -->
                        </div><!-- End .col-md-4 -->

                        <div class="col-md-4 col-sm-4 col-xs-12 widget">
                            <div class="title-bg">
                                <h3>Featured</h3>
                            </div><!-- End .title-bg -->

                            <div class="footer-featured-slider flexslider footerslider">
                                <ul class="slides">
                                    <li>
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item4.jpg') }}" alt="item4"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Jacket Suiting Blazer</a>
                                            </p>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="80"></div>
                                                </div><!-- End .ratings -->
                                            </div>
                                            <div class="item-price-special">$40</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item5.jpg') }}" alt="item5"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Gap Graphic Cuffed</a>
                                            </p>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="100"></div>
                                                </div><!-- End .ratings -->
                                            </div>
                                            <div class="item-price-special">$18.5</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item6.jpg') }}" alt="item6"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Women's Lauren Dress</a>
                                            </p>
                                            <div class="item-price-special">$30</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                    </li>
                                    <li>
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item7.jpg') }}" alt="item7"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Jacket Lauren Blazer</a>
                                            </p>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="80"></div>
                                                </div><!-- End .ratings -->
                                            </div>
                                            <div class="item-price-special">$40</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item8.jpg') }}" alt="item8"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Jacket Suiting Blazer</a>
                                            </p>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="100"></div>
                                                </div><!-- End .ratings -->
                                            </div>
                                            <div class="item-price-special">$18.5</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item9.jpg') }}" alt="item9"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Women's Spahyr Dress</a>
                                            </p>
                                            <div class="item-price-special">$30</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                    </li>
                                </ul>
                            </div><!-- End Footerpouplar-slider -->
                            <div class="md-margin visible-xs"></div><!-- space -->
                        </div><!-- End .col-md-4 -->

                        <div class="col-md-4 col-sm-4 col-xs-12 widget">
                            <div class="title-bg">
                                <h3>Specials</h3>
                            </div><!-- End .title-bg -->

                            <div class="footer-specials-slider flexslider footerslider">
                                <ul class="slides">
                                    <li>
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item7.jpg') }}" alt="item7"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Jacket Suiting Blazer</a>
                                            </p>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="80"></div>
                                                </div><!-- End .ratings -->
                                            </div>
                                            <div class="item-price-special">$40</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item8.jpg') }}" alt="item8"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Gap Graphic Cuffed</a>
                                            </p>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="100"></div>
                                                </div><!-- End .ratings -->
                                            </div>
                                            <div class="item-price-special">$18.5</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item9.jpg') }}" alt="item9"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Women's Lauren Dress</a>
                                            </p>
                                            <div class="item-price-special">$30</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                    </li>
                                    <li>
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item1.jpg') }}" alt="item1"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Jacket Lauren Blazer</a>
                                            </p>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="80"></div>
                                                </div><!-- End .ratings -->
                                            </div>
                                            <div class="item-price-special">$40</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item2.jpg') }}" alt="item2"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Jacket Suiting Blazer</a>
                                            </p>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="100"></div>
                                                </div><!-- End .ratings -->
                                            </div>
                                            <div class="item-price-special">$18.5</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                        <div class="slide-item clearfix">
                                            <figure class="item-image-container">
                                                <a href="product.html"><img src="{{ asset('assets/images/products/thumbnails/item3.jpg') }}" alt="item3"></a>
                                            </figure>
                                            <p class="item-name">
                                                <a href="product.html">Women's Spahyr Dress</a>
                                            </p>
                                            <div class="item-price-special">$30</div><!-- End item-price-special -->
                                        </div><!-- End .slide-item -->
                                    </li>
                                </ul>
                            </div><!-- End Footerpouplar-slider -->

                        </div><!-- End .col-md-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End #footer-top -->

            <div id="inner-footer">

                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12 widget">
                            <h3>MY ACCOUNT</h3>
                            <ul class="links">
                                <li><a href="#">My account</a></li>
                                <li><a href="#">Personal information</a></li>
                                <li><a href="#">Addresses</a></li>
                                <li><a href="#">Discount</a></li>
                                <li><a href="#">Order History</a></li>
                                <li><a href="#">Your Vouchers</a></li>
                            </ul>
                        </div><!-- End .widget -->

                        <div class="col-md-3 col-sm-4 col-xs-12 widget">
                            <h3>INFORMATION</h3>
                            <ul class="links">
                                <li><a href="#">New products</a></li>
                                <li><a href="#">Top sellers</a></li>
                                <li><a href="#">Specials</a></li>
                                <li><a href="#">Manufacturers</a></li>
                                <li><a href="#">Suppliers</a></li>
                                <li><a href="#">Our stores</a></li>
                            </ul>
                        </div><!-- End .widget -->

                        <div class="col-md-3 col-sm-4 col-xs-12 widget">
                            <h3>MY ACCOUNT</h3>

                            <ul class="contact-list">
                                <li><strong>Venedor Ltd</strong></li>
                                <li>United Kingdom</li>
                                <li>Greater London</li>
                                <li>London 02587</li>
                                <li>Oxford Street 48/188</li>
                                <li>Working Days: Mon. - Sun.</li>
                                <li>Working Hours: 9.00AM - 8.00PM</li>
                            </ul>
                        </div><!-- End .widget -->

                        <div class="clearfix visible-sm"></div>

                        <div class="col-md-3 col-sm-12 col-xs-12 widget">
                            <h3>FACEBOOK LIKE BOX</h3>

                            <div class="facebook-likebox">
                                <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fenvato&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false"></iframe>
                            </div>


                        </div><!-- End .widget -->
                    </div><!-- End .row -->
                </div><!-- End .container -->

            </div><!-- End #inner-footer -->

            <div id="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12 footer-social-links-container">
                            <ul class="social-links clearfix">
                                <li><a href="#" class="social-icon icon-facebook"></a></li>
                                <li><a href="#" class="social-icon icon-twitter"></a></li>
                                <li><a href="#" class="social-icon icon-rss"></a></li>
                                <li><a href="#" class="social-icon icon-delicious"></a></li>
                                <li><a href="#" class="social-icon icon-linkedin"></a></li>
                                <li><a href="#" class="social-icon icon-flickr"></a></li>
                                <li><a href="#" class="social-icon icon-skype"></a></li>
                                <li><a href="#" class="social-icon icon-email"></a></li>
                            </ul>
                        </div><!-- End .col-md-7 -->

                        <div class="col-md-5 col-sm-5 col-xs-12 footer-text-container">
                            <p>&copy; 2014 Powered by Company&trade;. All Rights Reserved.</p>
                        </div><!-- End .col-md-5 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End #footer-bottom -->

        </footer><!-- End #footer -->
    </div><!-- End #wrapper -->
    <a href="#" id="scroll-top" title="Scroll to Top"><i class="fa fa-angle-up"></i></a><!-- End #scroll-top -->
    <!-- END -->
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/smoothscroll.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.debouncedresize.js') }}"></script>
    <script src="{{ asset('assets/js/retina.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.placeholder.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.hoverIntent.min.js') }}"></script>
    <script src="{{ asset('assets/js/twitter/jquery.tweet.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.flexslider-min.js') }}"></script>
    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/jflickrfeed.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.appear.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.parallax-1.1.3.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('assets/js/select2/dist/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/js/custom.js') }}"></script>

    <script>
        $(function() {

        });
    </script>

    {% block javascripts %}{% endblock %}
</body>
</html>
