{% extends 'base.html.twig' %}

{% block body %}
    <div id="category-header">
        <div class="row">
            <div class="container">
                <div class="col-2">
                    <div class="category-image">
                        <img src="{{ category.photo }}" alt="Phone" class="img-responsive">
                    </div><!-- End .category-image -->

                </div><!-- End .col-2 -->

                <div class="col-2 last">
                    <div class="category-title">
                        <h2>{{ category.name }}</h2>
                        <p>{{ category.description }}</p>
                        <!--a href="#" class="btn btn-custom">LEARN MORE</a-->
                    </div><!-- End .category-title -->
                </div><!-- End .col-2 -->
            </div><!-- End .container -->
        </div><!-- End .row -->
    </div><!-- End #category-header -->

    <h2>Подкатегории</h2>

    {% for subcategory in category.subcategories %}
        <p>Категория: {{ subcategory.name }}
            {% if subcategory.photo %}
                <img src="{{ subcategory.photo }}">
            {% endif %}
        </p>
    {% endfor %}

    {% for product in category.products %}
        <p>Продукт: {{ product.name }} - {{ product.price }}
            {% if product.photo %}
                <img src="{{ product.photo }}">
            {% endif %}
        </p>
    {% endfor %}
{% endblock %}
